@import "../../fonts";

$colorWhite: #FFFFFF;
$colorGold: #FEE040;
$center: center;
$anotherFontFam: Arial, sans-serif;

.container_services {
  width: 100%;
  height: 746px;
  background: url("../../assets/images/bg_services.jpg") $center $center no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 100px)) 1fr;
  grid-column-gap: 20px;
  grid-template-rows: 116px 78px 469px;
  position: relative;
  h2{
    font-family: BebasNeue-Bold, $anotherFontFam;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 20px;
    color: $colorGold;
    grid-column: span 14;
    align-self: end;
    text-align: $center;
    padding-left: 150px;
  }
  .main_text{
    font-family: Gilroy-Bold, $anotherFontFam;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -.6px;
    color: $colorWhite;
    grid-column: span 14;
    align-self: $center;
    text-align: $center;
    padding-left: 130px;
  }
  #slider{
    height: 415px;
    grid-column: span 14;
    display: flex;
    flex-direction: row;
    //margin-top: 31px;
    overflow: hidden;
    //overflow-x: auto;
    scroll-behavior: smooth;
    position: absolute;
    top: 225px;
    &::-webkit-scrollbar {
      width: 3px;
      z-index: 7;
    }
    &::-webkit-scrollbar-track {
      background: rgba(9,30,66,.08);
      border-radius: 10px;
      z-index: 7;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(9,30,66,.38);
      border-radius: 10px;
      z-index: 7;
    }
    .slider_element:first-child{
      margin-left: 248px;
    }
    .slider_element{
      width: 400px;
      height: 381px;
      display: flex;
      flex-direction: column;
      margin: 0 38px;
      img{
        width: 400px;
        height: 180px;
      }
      h3{
        font-family: ProximaNova-Bold, $anotherFontFam;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -.5px;
        color: $colorWhite;
        margin-top: 29px;
      }
      p{
        font-family: ProximaNova-Regular, $anotherFontFam;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -.5px;
        color: $colorWhite;
        opacity: .7;
        margin-top: 16px;
        height: 110px;
        white-space: pre;
      }
      a{
        font-family: BebasNeue-Bold, $anotherFontFam;
        font-size: 20px;
        line-height: 16px;
        letter-spacing: 7px;
        color: $colorGold;
        span{
          margin-left: 5px;
        }
      }
    }
  }
  .progress-container {
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 10.6%;
    grid-column: span 14;
    .progress-bar {
      height: 4px;
      background: linear-gradient(270deg, $colorGold 0%, rgba(254, 224, 64, 0) 100%);
      width: 40%;
    }
  }
}

@media all and(max-width:1000px) {
  .container_services {
    grid-column-gap: 20px;
    h2, .main_text{
      padding-left: 0;
    }
    h2{
      align-self: $center;
    }
    #slider{
      .slider_element:first-child{
        margin-left: 85px;
      }
    }
  }
}

@media all and(max-width:500px) {
  .container_services{
    display: flex;
    flex-direction: column;
    h2{
      margin-top: 10px;
    }
    .main_text{
      width: 90%;
    }
    #slider{
      top: 260px;
      .slider_element:first-child{
        margin-left: 15px;
      }
      .slider_element {
        width: 270px;
        height: 381px;
        display: flex;
        flex-direction: column;
        margin: 0 38px;
        img{
          width: 100%;
        }
        p{
          white-space: unset;
        }
      }
    }
    .progress-container {
      bottom: 6%;
    }
  }
}
