<section class="container_why_we">
  <header>
    <div class="main_text">
      Мы работаем быстро <br>
      и наши отчеты проходят <br>
      согласование с первого раза
    </div>
    <p>
      Над вашим объектом работает целая команда: <br>
      3 ГИПа (главных инженеров проектов) с опытом работы <br>
      от 6 лет и 2 штатных сотрудника для камеральных работ
    </p>
  </header>
  <ul> Вы и Ваши архитекторы получаете:
    <li>Отчет на который на 100% можно положиться</li>
    <li>Экономию времени и прогнозируемость сроков</li>
    <li>Предварительные результаты сразу на месте</li>
  </ul>
</section>
